@import 'materialize-css/dist/css/materialize.min.css';

body{
  margin: 0;
  background-color: rgb(217, 226, 233);
}

span, p{
 color: rgb(117, 142, 158);

}

.task-name:focus+ .task-label{
display: none;
}

.todo{
  margin-bottom: 1.5rem;
}

.todo.status span{
  text-decoration: line-through;
}

.todo div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(202, 211, 217);
  cursor: pointer;
  padding: 1rem;
}
.todo label{
  width: 80%;
  cursor: pointer;
}

.todo i{
  z-index: 10;
}